


#title {
    background-color: #ff4c68;
    color: white;
}

h1 {
    font-family: 'Lacquer';
    font-size: 3rem;
    line-height: 1.5;

}

h2 {
    font-size: 3rem;
    font-family: "Montserrat-Bold";
    color : white;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
    
}

.navbar {
    padding:0 2rem 0 2.5rem;
}

.right-buttons {
    margin-right: 0;
}

.navbar-brand {
    font-family: 'ubuntu';
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.8rem;
    font-family: 'Tangerine';
}

.download-button {
    margin: 5% 3% 0% 0%;
}

/* title image */

.title-image {
    width: 60%;
    transform: rotate(20deg);
}

/* middle section */

.middle-section-icons {
    text-align: center;
    padding: 5%;
   
}

.middle-section-icons i,h3,p {
    margin: 3% 0;
}

.icon {
    color: indianred;
}

.icon:hover {
    color: #ff4c68;
}

/* testimonials */

#testimonials{
    background-color: indianred;
    text-align: center;
    padding: 7% 15%;
    color: white;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 2%;
}

/* press */
#press {
    background-color: indianred;
    padding-bottom: 5%;
    text-align: center;
}

#press img {
   width: 15%;
   margin: 20px 20px 50px;
}